In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import gc

pd.set_option('display.max_columns', 500)

In [3]:
#load POS
def full_pos():
    df=pd.read_csv('Notebook/Ukentlig_selected_15_20.csv', engine='python', sep=';', decimal=",", header=0, )
    #df['År']=df['UKE'].astype(str).str[:4]
    #df['Uke']=df['UKE'].astype(str).str[4:6]
    #df['Ukedato']=pd.to_datetime(df['År']+df['Uke']+'1', format="%G%V%w")
    return df
df_pos=full_pos()
df_pos.describe()

,7582,7582.1,9205,65,1,"1,0","22,46235033259424",0,"24,5","0,0",Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
count,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,6.131126e+06,439271.0,48132.0,86674.0,5.127071e+06,5.059930e+06,5.000342e+06
mean,9.295669e+06,9.295669e+06,1.090896e+04,6.037426e+04,2.735741e+00,6.670932e+00,3.376573e+01,2.534967e-02,1.593454e+02,1.669502e+02,1.0,1.0,1.0,7.458214e+00,7.426384e+00,7.410690e+00
std,5.276192e+06,5.276192e+06,2.164257e+03,3.323394e+04,1.588436e+00,9.561370e+00,2.412727e+01,1.571848e-01,2.134706e+02,4.129360e+02,0.0,0.0,0.0,1.000149e+01,9.958743e+00,9.953698e+00
min,7.583000e+03,7.583000e+03,9.205000e+03,1.400000e+01,1.000000e+00,5.000000e-01,2.900000e+00,0.000000e+00,4.000000e-01,-2.493400e+04,1.0,1.0,1.0,5.000000e-01,5.000000e-01,5.000000e-01
25%,4.737784e+06,4.737784e+06,9.630000e+03,3.873800e+04,1.000000e+00,2.000000e+00,1.249748e+01,0.000000e+00,4.840000e+01,4.000000e+00,1.0,1.0,1.0,2.000000e+00,2.000000e+00,2.000000e+00
50%,9.263344e+06,9.263344e+06,9.898000e+03,6.178000e+04,2.000000e+00,4.000000e+00,3.487656e+01,0.000000e+00,9.520000e+01,3.800000e+01,1.0,1.0,1.0,5.000000e+00,5.000000e+00,5.000000e+00
75%,1.392052e+07,1.392052e+07,1.013500e+04,8.761800e+04,4.000000e+00,8.000000e+00,4.950097e+01,0.000000e+00,1.860000e+02,1.800000e+02,1.0,1.0,1.0,9.000000e+00,9.000000e+00,9.000000e+00
max,1.863784e+07,1.863784e+07,1.652700e+04,1.249140e+05,8.000000e+00,1.087000e+03,1.450000e+02,1.000000e+00,2.382562e+04,9.746100e+04,1.0,1.0,1.0,1.055000e+03,1.087000e+03,1.087000e+03

In [5]:
dfpos['År']=dfpos[0].astype(str).str[:4]
dfpos['Uke']=dfpos[0].astype(str).str[4:6]
dfpos['Ukedato']=pd.to_datetime(dfpos['År']+dfpos['Uke']+'1', format="%G%V%w")

NameError: name 'dfpos' is not defined